<!-- Inheriting Content -->
{% extends 'base.html' %}

<!-- Page Title -->
{% block title %}Login{% endblock title %}

<!-- Page CSS -->
{% block css %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/before_login.css')}}"
/>
{% endblock css %}

<!-- Login Page Content -->
{% block body %}
<div id="login">
    <!-- Login Heading -->
    <h1>Forgot Password</h1>
    <hr />
    
    <!-- Login -->
    <div id="forgot_password_form">
        <form method="post">  

        <!-- OTP Generation -->
        {% if forgot_stage == 1 %}
            <!-- User Email -->
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email address" maxlength="50" required/>
            
            <!-- OTP Validate Button -->
            <button type="submit">Get OTP</button>
            <a href="/login" class="return_button button_a_tag">Back</a>

            <!-- Alert Message -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div id="flash-message" class="flash flash_{{category}}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

        <!-- OTP Submission -->
        {% elif forgot_stage == 2 %}
            <!-- Enter OTP Received -->
            <label for="pass">Enter the OTP Number</label>
            <input type="password" name="pass" id="pass" placeholder="Enter the otp sent" minlength="6" maxlength="6" required />
            
            <!-- OTP Validate Button -->
            <button type="submit">Submit</button>

            <!-- Back Button -->
            <input type="hidden" name="stage_action" id="stage_action" value="">
            <button type="button" class="return_button" onclick="setStage('back')">Back</button>

            <!-- Alert Message -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div id="flash-message" class="flash flash_{{category}}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
                
        <!-- New Password -->
        {% else %}
            <!-- Create User Password -->
            <label for="create_pass">New Password</label>
            <input type="password" name="create_pass" id="create_pass" placeholder="Enter your password" minlength="6" maxlength="16" required/>
            
            <!-- Confirm User Password -->
            <label for="confirm_pass">Confirm Password</label>
            <input type="password" name="confirm_pass" id="confirm_pass" placeholder="Confirm your password" minlength="6" maxlength="16" required/>
            
            <!-- Account Create Button -->
            <button type="submit" id="change_pass_btn">Submit</button>

            <!-- Exit Button -->
            <input type="hidden" name="stage_action" id="stage_action" value="">
            <button type="button" class="return_button" onclick="setStage('exit')">Exit</button>

            <!-- Alert Message -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div id="flash-message-disappear" class="flash flash_{{category}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
                
        {% endif %}  
        </form>
  </div>
</div>
{% endblock body %}
